<div class="row">
    <h1 class="col-10">Sign up or login to Zomato</h1>
    <mat-icon style="margin-top: 5px; cursor: pointer;" (click)="close()">close</mat-icon>
</div>
<hr>
<div mat-dialog-content>
    <section class="container" style="text-align: center;">
        <button class="col-12">
            <div class="col-12" style="padding-left: 0;">
                <img style="padding-left: 0; margin-right: 15px; margin-left: 0;" width="25px" height="25px" src="assets/google.webp">
                <span class="col-8">Continue with Google</span>
            </div>
        </button>
    <div class="container" style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
        <h3>Or use your email address</h3>
    </div>
    <div class="row" style="text-align: center; margin-left: 0;">
            <button class="col-5" style="margin-right: 5px; background-color: #cb202d; color: white;">Log in</button>
            <button class="col-5" style="margin-left: 25px; right: 0;">Sign up</button>            
    </div>
    </section>        
    <footer style="text-align: center; font-size: smaller;">
        By logging in, you agree to Zomato's Terms of Service, Cookie Policy, Privacy Policy and Content Policies.
    </footer>
</div>

