<app-toolbar></app-toolbar>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<section *ngIf="restaurant" class="head-sec">
    <img [src]="restaurant.featured_image || default" class="col-12" style="max-height: 70vh;">
    <div (click)="goBack()" class="back" style="position: absolute;"><mat-icon>keyboard_backspace</mat-icon><span class="goback">back</span></div>
    <h1>{{restaurant.name}}</h1>
</section>

<main *ngIf="restaurant" class="container">

   
    <section >
        <h2>Address</h2>
        <p>{{restaurant.location.address}}</p>
    </section>

    <section >
        <h2>Rating</h2>
        <p>{{restaurant.user_rating.aggregate_rating}}, <i>{{restaurant.user_rating.rating_text}}</i></p>
    </section>
    

    <section>
        <h2>Average cost for two</h2>
        <p>{{restaurant.average_cost_for_two}} {{restaurant.currency}}</p>
        <h2>Cuisines</h2>
        <p>{{restaurant.cuisines}}</p>
    </section>
    <section>
        <h2>Highlights</h2>
        <ul>
            <li *ngFor="let highlight of restaurant.highlights">{{highlight}}</li>
        </ul>
    </section>

    <section class="container">
        <h2>Menu</h2><a href="{{restaurant.menu_url}}">{{restaurant.menu_url}}</a>
    </section>

</main>