<main class="container">
    <section class="main-text">
        <h1>How Zomato works</h1>
        <h3 class="caption">Ordering food online has never been this easy</h3>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-lg-4 col-xs-12 my-card">
                <img src="../../../assets/delivery.svg">
                <div class="row caption container">
                    <p>
                    <b>Explore restaurants</b> that deliver to your doorstep
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 my-card">
                <img src="../../../assets/menu.svg">
                <div class="row caption container">
                    <p>
                    Browse menus and <b>build your order</b> in seconds
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 my-card">
                <img src="../../../assets/notification.svg">
                <div class="row caption container">
                    <p>Follow the status of your order with <b>real-time alerts</b></p>
                </div>
            </div>
        </div>
    </section>
</main>

<main class="download">
    <section class="container row encaps">
        <div class="col-lg-2"></div>
        <div class="col-lg-4 col-md-6 col-sm-10">
            <img class="d-sec col-12" src="../../../assets/phone.webp" height="300px">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10 target">
            
            <h1>Download the Zomato App!</h1>
        
            <div class="row">
                <p>Get real-time order updates, live chat support, and exclusive app-only offers.</p>
            </div>
            <div class="row btns">
                <img class="col-5" style="cursor: pointer;" src="../../../assets/app-store.webp">
                <img class="col-5" style="cursor: pointer;" src="../../../assets/play-store.webp">
            </div>
            <div class="row or-group">
                <div class="col-4">
                    <hr>
                </div>
                <h3 class="col-2" style="text-align: center;">OR</h3>
                <div class="col-4">
                    <hr>
                </div>
            </div>
            <div class="row input-group">
                <input class="col-4" type="tel" value="+91">
                <input class="col-6" type="tel" placeholder="Phone number">
            </div>
            <div class="row link-btn col-10">
                <button class="col-12">Text App Link</button>
            </div>
        </div>
    </section>
</main>